.counter_container {
  width: 100%;
  background: #E2E2E2;
  border: 1px solid #CECECE;
  padding: 20px;
  text-align: center;

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 128px;
    margin-bottom: 20px;
  }
}
